# Database
DATABASE_URL="file:./dev.db"

# Telegram
TELEGRAM_BOT_TOKEN="your_bot_token_here"
ADMIN_GROUP_ID="your_admin_group_id_here"

# Auth
JWT_SECRET="your_jwt_secret_here"
ADMIN_PASSWORD="admin_password_here"
